# Dependencies
node_modules/

# Production Build
dist/
build/
coverage/

# Environment variables
.env*
!.env.example

# OS & Logs
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Large Kaggle Datasets (Exceeds GitHub 100MB file limit)
data/train.csv
data/test.csv
data/test_supplement.csv
data/sample_submission.csv
data/*.zip
data/*.tar.gz
